:root {
    --main-login-color: #275e02;
}
body{
    background: black;
    margin: 0;
    color: var(--main-login-color);
    background: radial-gradient(ellipse at center, #101808 0%, #000000 40%);
    font-family: CascadiaCode, monospace, serif
}
#screen {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
form{
    display: flex;
    flex-direction: column;
}

input {
    border: var(--main-login-color);
    margin: 0;
    background: transparent;
    color: var(--main-login-color);
    font-family: var(--font-family-monospace), serif;
    transition: filter 0.3s ease;
    font-size: 15px;
}
input:hover {
    filter: brightness(150%);
}
input:focus {
    outline: none;
}
button {
    background: transparent;
    color: var(--main-login-color);
    font-family: var(--font-family-monospace), serif;
    font-size: 15px;
    padding: 0;
    border: none;
    cursor: pointer;
    transition: filter 0.2s ease;
    margin-bottom: 40px;
}
button:hover {
    filter: brightness(150%);
}
button:active {
    filter: brightness(0.7);
}

label{
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid var(--main-login-color);
}
.title{
    font-size: 80px;
    margin: 0;
}