:root {
    --main-color: #194270;
    --font-family-monospace: CascadiaCode;
}

@font-face {
    font-family: 'CascadiaCode';
    src: url('../assets/CascadiaCode.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    background: black;
    margin: 10px;
    color: white;
    font-family: CascadiaCode, serif
}
h1{
    text-align: center;
    margin: auto 0 auto 0;
}
h2{
    margin: auto 0 auto 0;
}
p{
    text-align: center;
    margin: auto 10px auto;
}
button {
    background: transparent;
    color: black;
    font-family: var(--font-family-monospace), serif;
    font-size: 15px;
    background: var(--main-color);
    border: none;
    border-radius: 6px;
    padding: 2px;
    cursor: pointer;
    transition: filter 0.2s ease;
}
button:hover {
    filter: brightness(1.5);
}
button:active {
    filter: brightness(0.7);
}
.box{
    border : 3px solid var(--main-color);
    flex-grow: 1;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 10px;
}
.boxNav{
    display: flex;
}
.mainDashBoard{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}
