* {
    margin: 0;
    padding: 0;
}
:root {
    --main-color: #194270;
    --font-family-monospace: CascadiaCode;
}

@font-face {
    font-family: 'CascadiaCode';
    src: url('../assets/CascadiaCode.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* Estructura */
body{
    background: black;
    color: white;
    font-family: 'Courier New', serif;
    align-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
}
.box{
    border : 3px solid var(--main-color);
    flex-grow: 1;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
.navBar{
    display: flex;
    flex-direction: row;
    max-width: 80rem;
    margin-bottom: 1rem;
}
.mainSections{

    max-width: 80rem;
    width: 100%;
    grid-gap: 1rem;
}
@media (max-width: 75rem){
    .mainSections{
        display: flex;
        flex-direction: column;
    }
}
footer{
    margin-top: auto;
}
/* Texto */
h1{
    text-align: center;
}
h2, h3{
    margin: 0;
}
p{
    text-align: center;
    margin: auto 10px auto;
}
small{
    opacity: 80%;
}

/* Interactivo */

button {
    background: transparent;
    color: black;
    font-family: var(--font-family-monospace), serif;
    font-size: 15px;
    background: var(--main-color);
    border: none;
    border-radius: 6px;
    padding: 2px;
    cursor: pointer;
}
button:hover {
    filter: brightness(1.5);
}
button:active {
    filter: brightness(0.7);
}

/* Listas */
ul, ol{
    margin: 0;
}
li{
    margin-top: 1rem;
    margin-left: 0.8rem;
}
li:last-child{
    margin-bottom: 1rem;
}
.listSmall{
    padding-left: 1rem;
}
.listSmall > li{
    margin-top: 0.2rem;
}
.listSmall > li:last-child{
    margin-bottom: 0.5rem;
}

/* Effects */
.rgbEffect {
    position: fixed;
    pointer-events: none;
    inset: 0;
    z-index: -1;
    opacity: 5%;
    background-image: repeating-linear-gradient( to right, #f00 0px, #f00 1px, #0f0 1px, #0f0 2px, #00f 2px, #00f 3px );
}
.linesEffect {
    position: fixed;
    pointer-events: none;
    inset: 0;
    z-index: 0;
    opacity: 40%;
    background: repeating-linear-gradient( to top, transparent 0px, transparent 3px, rgba(0, 0, 0, 0.25) 3px, rgba(0, 0, 0, 0.25) 4px );
}
.loader {
    --color-1: rgba(38, 50, 56, 0);
    --color-2: #051d38;

    background: linear-gradient(
            90deg,
            var(--color-1) 25%,
            var(--color-2) 50%,
            var(--color-1) 75%
    );
    background-size: 200% 100%;
    animation: loading-gradient 1.5s infinite linear;
    border-radius: 4px;
}

@keyframes loading-gradient {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}

