<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>[[${error}]]</title>
    <meta name="robots" content="noindex">

    <!--Local (ignorame)-->
    <link rel="stylesheet" href="../static/style/titan.css">
    <link rel="stylesheet" href="../static/style/error.css">
    <!--Remote-->
    <link rel="stylesheet" href="/style/titan.css">
    <link rel="stylesheet" href="/style/error.css">
</head>
<body>
<h1 class="error" th:text="'Error ' + ${status}" th:glichText="'Error ' + ${status}"></h1>
<small th:text="${error}"></small>

<div class="rgbEffect"></div>
<div class="linesEffect"></div>
</body>
</html>