<!DOCTYPE html>
<!-- Estilo Inspirado De Murder Drones -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Titan</title>
    <meta name="robots" content="noindex">
    <!--Local (ignorame)-->
    <link rel="stylesheet" href="../static/style/titan.css">
    <link rel="stylesheet" href="../static/style/login.css">
    <!--Remote-->
    <link rel="stylesheet" href="/style/titan.css">
    <link rel="stylesheet" href="/style/login.css">
</head>
<body id="screen">
<!--Vas a entrar a la DeepWeb, Qué miedo-->
<div >
    <h1 class="title">Titan</h1>
    <div id="desktop">
        <section class="window windowAbsolute" id="loginWindow">
            <header class="windowHeader">
                <span>titan://login</span>
                <button class="windowCloser">X</button>
            </header>
            <div class="windowContent">
                <form method="post" th:action="@{/login}">
                    <label>
                        <input class="loginInput" type="text" name="username" placeholder="Username" required>
                    </label>
                    <label>
                        <input class="loginInput" type="password" name="password" placeholder="Password" required>
                    </label>
                    <button id="loginButton" type="submit">
                        Login
                    </button>
                </form>
            </div>
        </section>
    </div>
</div>
<div class="rgbEffect"></div>
<div class="linesEffect"></div>

<script src="/script/window.js"></script>
<script src="../static/script/window.js"></script>
<script>
    createWindow({
        id: "loginWindow",
    });
</script>
</body>
</html>